@model HobbyShop.Models.Product

<h2>Ürün Detayı</h2>

<p><strong>Ad:</strong> @Model.ProductName</p>
<p><strong>Açıklama:</strong> @Model.Description</p>
<p><strong>Fiyat:</strong> @Model.Price ₺</p>
<p><strong>Stok:</strong> @Model.Stock</p>

<a href="/Products">Geri Dön</a>